html::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.navbar{
  z-index: 2;
  height:80px;
  background-color: #c5e8ff;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height:60px;
  font-style:oblique;
  font-variant-caps: petite-caps;
  text-emphasis-color:inherit;
  font-size: 40px;
  font-weight: 600;
  padding-left: 5px;
  color: #2C77BB;
}
.options{
  display: flex;
  justify-content: space-around;
  width:300px;
  padding-right: 10px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: 600;
}
.Nonelist{
  list-style-type: none;
  display:flex;
  /* justify-content: flex-start; */
  flex-direction: column;
  align-items:start;
  padding-right: 40px;
}
.Nonelist li>a,.Nonelist li>a>:visited{
  color: black;
  text-decoration: underline;
}
.profile{
  height:50px;
  width:50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(186, 186, 186);
  color:white;
  margin-right: 5px;
}
.Popwindow{
  z-index: 3;
  background-color: #E0F2FE;
  color:rgb(7, 7, 7);
  position:absolute;
  top:70px;
  right:28px;
  border-radius: 5px;
  /* border: solid black 1px;  */
  box-shadow: 1px 1px 5px;
}
.caption{
  margin:0 0 12px 0;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-style: italic;
}
a:visited,a{
  text-decoration: none;
  color:#2C77BB
}
a:hover{
  color:rgba(195, 0, 255, 0.571);
}
.pack-1{
  display: flex;
  align-items: center;
}
.loggo{
  display: flex;
  align-items:flex-end;
}
.flex{
  display: flex;
}
.search-nav{
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:70px;
  border:solid rgb(219, 219, 219) 1px;
  background-color: #e4f2fa;
}
.inner-loc{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:10px;
  font-size: medium;
  border-radius: 15px;
  border: solid 1px rgb(197, 197, 197);
  background-color:white ;
}
.inner-loc span i{
  color:#2C77BB


}
.no-show{
  border:none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width:100px;
  color: #000000;
  text-decoration: underline rgba(255, 0, 0, 0.571) ;
  font-weight: bolder;
  font-size: medium;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-bar{
  /* padding-top: 22px; */
  background-color: #E0F2FE;
  width:640px;
  height:40px;
  display: flex;
  justify-content: space-around;
  border-radius: 15px; 
  /* border-end-end-radius: 5px; */
}
.search-bar{
  border: solid 1px rgb(197, 197, 197);

}
.search-bar button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.no-show option {
  height:20px;
  font-size: medium;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
option:not(:checked) {
  background-color: #E0F2FE;
  color:black;
}
option{
  font-weight: 700;
}
option:checked{
  background-color: #E0F2FE;
  color:rgb(255, 80, 109);
}
.search-bar input{
  border:none;
  width:100%;
  outline: none;
  padding-left: 30px;
  border-top-left-radius:15px ;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.search-bar:hover{
  border:  solid orange 1px;
}

.mag-glass{
  width:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2C77BB;
  border-left:solid #2C77BB 1px ;
}
.fixed{
  position: sticky;
  top: 0;
}
@media (width<=269px){
  .cat-1{
    width:70px;
    background-color: red;
  }
  
}
@media (width<=735px){
  
  .logo{
    font-size: 15px;
    text-wrap:nowrap;
  }
  .navbar{
    height:50px;
    flex-wrap: nowrap;
  }
  .caption{
    font-size: 10px;
    text-wrap:nowrap;
    display: none;
  }
  .options{
    width:150px;
    font-size: 10px;
  }
  a,a:visited{
    color:black;
  }
  .profile{
    height: 30px;
    width:30px;
    font-size: 15px;

  }
  .loggo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }



}
/******************/

/* .slider-t{
  position:absolute ;
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
}
.slider{
  display: flex;
  width:100%;
  aspect-ratio:16/9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider img{
  height: 90%;
  width: 40%;
  flex:1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left:50%;
  transform: translate(-50%);
}
.slider-nav a{
  position: sticky;
  width: 0.5rem;
  height: 0.5rem;
  border: solid black;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
} */




/*ikkada nu em cheyalante 5 divs create chey okokkadaniki oka class name iyyi inka vaatiki ee propertirs vaadu ra*/
/* kaani manam itla kadhu ra thai pettedhi etla ante */

/* rey itla div ki backround lo petti chey lera */